openapi: 3.0.0

info:
  version: '1.0'
  title: Trops API
  description: L'interfaccia per il progetto "Trops" sviluppata dal gruppo Hoolibo (gruppo 3).

servers:
  - url: https://api.le0nardo.dev/trops
  - url: http://localhost:8080/api_war_exploded

components:
  securitySchemes:
    SessionToken:
      type: apiKey
      in: header
      name: Authorization
  schemas:
    success-response:
      type: object
      properties:
        esito:
          type: string
          example: successo
        codice:
          type: integer
          example: 0
        risultato:
          type: object
    failure-response:
      type: object
      properties:
        esito:
          type: string
          example: fallito
        codice:
          type: integer
        motivazione:
          type: string

paths:
  /account/register:
    post:
      summary: Registra un account utente nel sistema
      description: Questo endpoint serve per ottenere il cookie e la tipologia di utente, registrandone uno nuovo. Tutti i dati da inserire sono specificati sotto e devono rispettare alcuni criteri. Esempio, la mail deve essere una mail valida, la password deve avere minimo 8 caratteri e avere 1 carattere speciale, 1 maiuscola, 1 minuscola e 1 numero. Il codice fiscale deve essere un vero codice fiscale e il codice meccanografico dovrà essere uno effettivamente valido (10 caratteri, li potete trovare cercandoli online, quello delle aldini è tra gli esempi di input).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
                - nome
                - cognome
                - data_nascita
                - cod_fis
                - cod_scuola
              properties:
                email:
                  type: string
                  example: test@example.com
                password:
                  type: string
                  example: Ciao1234!
                nome:
                  type: string
                  example: Mario
                cognome:
                  type: string
                  example: Rossi
                data_nascita:
                  type: string
                  example: 2001-9-11
                cod_fis:
                  type: string
                  example: SPANDR05L06F839I
                cod_scuola:
                  type: string
                  example: BOIS01900X
      responses:
        '200':
          description: Successo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/success-response'
        '500':
          description: Fallimento
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/failure-response'
  /account/login:
    post:
      summary: Ottieni il token di sessione entrando con le credenziali
      description: Questo endpoint potrà essere utilizzato in due modi differenti. Il primo consiste nel fornire soltanto il token di sessione (esempio sottoscritto), e ritornerà successo nel caso sia un token valido. Altrimenti si inseriscono le credenziali (email e password di un account già registrato) e ritornerà, se validi, un token di sessione e il tipo dell'utente.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  example: test@example.com
                password:
                  type: string
                  example: Ciao1234!
                session:
                  type: string
                  example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Successo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/success-response'
        '500':
          description: Fallimento
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/failure-response'
  /account/session/deactivate:
    post:
      summary: Disattiva un token di sessione
      description: Questo endpoint serve per deattivare un token di sessione, nel caso si vuole fare logout o roba del genere. Questo endpoint richiede un header di autorizzazione, che è il token che vi siete salvati prima, dal login oppure dalla registrazione. Invece il campo deactivated-session, nel body della richiesta è il token che si vuole disattivare.
      security:
        - SessionToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - deactivated-session
              properties:
                deactivated-session:
                  type: string
                  example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Successo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/success-response'
        '500':
          description: Fallimento
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/failure-response'